.container {
  margin: 0;
  padding: 0;
  position: relative;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #37a0c0;
}

.mid-bar {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #05025c;
  color: white;
}

.navbar {
  background-color: #b5b5b5;
  overflow:hidden;
  margin-top: 130px;
  position:fixed;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 30px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
  display: grid;
}

.navbar a:hover {
  background-color: #a5a5a5;
}

.logo {
  padding-left: 25px;
  margin-top: 14px;
  position: absolute;
}

.logotext {
  position: absolute;
  margin-left: 120px;
  margin-top: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: 10px;
}

.notifyicon2 {
  margin-left: 1500px;
  margin-top: 35px;
}
/* .supporticon{
  margin-left: 1500px;
  margin-top: 37px;
} */

.side-bar {
  position: fixed;
  top: 199px;
  left: 0;
  width: 350px;
  height: 750px;
  background-color: #05025c;
}

.btnlogout {
  position: absolute;
  background-color: rgb(47, 183, 228);
  border-radius: 3px;
  width: 110px;
  height: 40px;
  left: 1780px;
  top: 30px;
  font-size: 18px;
  padding-left: 3px;
  padding-top: 6px;
}

.btnsupport {
  height: 40px;
  width: 120px;
  position: absolute;
  background-color: #05025c;
  border-radius: 20px;
  left: 1770px;
  top: 20px;
  font-size: 16px;
  padding-left: 3px;
  padding-top: 6px;
  color: white;
}

.left-navbar {
  height: 40px;
  width: 200px;
  padding-top: 60px;
}

.left-navbar ul {
  list-style: none;
  padding: 0;
}

.left-navbar li {
  padding: 10px;
  display: flex; /* Align items horizontally */
}

.left-navbar a {
  text-decoration: none;
  color: white;
  justify-content: left;
  display: flex; 
}

.sidebarcont {
  padding: 10px;
}


.sidebaritem {
  margin-bottom: 10px;
}

.sidelink {
  display: flex;
  /* align-items: center;  */
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align:justify;
}

.internalicon,
.gradesheeticon,
.attendanceicon,
.dailyattendanceicon,
.courseicon,
.timetableicon {
  margin-right: 8px;
  width: 24px; 
  height: 24px; 
}
.admin-navbar {
  position: fixed;
  top: 199px;
  left: 0;
  width: 350px;
  height: 750px;
  background-color: #05025c;
}

/* .nested-sidebaritem {
  margin-top: 3px;
} */

.btnaddeditstudent {
  position:fixed;
  background-color: rgb(47, 183, 228);
  border-radius: 3px;
  width: 180px;
  height: 40px;
  right: 1320px;
  top: 220px;
  padding-left: 3px;
  padding-top: 6px;
  color: white;
  font-size: 20px;
}
.btnparentdetail {
  position:fixed;
  background-color: rgb(47, 183, 228);
  border-radius: 3px;
  width: 180px;
  height: 40px;
  right: 1100px;
  top: 220px;
  padding-left: 3px;
  padding-top: 6px;
  color: white;
  font-size: 20px;
}

.btnaddeditstudent.active {
  background-color: rgb(255, 255, 255);
  color: rgb(47, 183, 228);
}

.btnparentdetail.active {
  background-color: rgb(255, 255, 255);
  color: rgb(47, 183, 228);
}


.btninternalmarks {
  position: absolute;
  background-color: rgb(47, 183, 228);
  border-radius: 3px;
  width: 180px;
  height: 40px;
  right: 930px;
  top: -55px;
  padding-left: 3px;
  padding-top: 6px;
  color: white;
  font-size: 20px;
}

.studentcard {
  width: 93rem;
  position: fixed;
  margin-top: 280px;
  margin-left:80px ;
  height: 50rem;
  overflow-y: auto;
  max-height: 80vh;
}


.parentcard{
  width: 93rem;
  position: fixed;
  margin-top: 280px;
  margin-left:80px ;
  height: 50rem;
  overflow-y: auto;
  max-height: 80vh;
}
.parentcard1 {
  margin-left: 6px;
  position: fixed;
  margin-top: 20px;
  width: 43rem;
}


.parentform {
  margin-top: 30px;
  margin-right: 0px;
  position: static;
  text-align: left;
  height: 920px;
  font-size: 20px;
}
.btnparentsave {
  position: absolute;
  background-color: rgb(47, 183, 228);
  border-radius: 3px;
  width: 100px;
  height: 40px;
  right: 450px;
  bottom: 100px;
  padding-left: 3px;
  padding-top: 6px;
  color: white;
  font-size: 22px;
}
.btnparentedit {
  position: absolute;
  background-color: rgb(47, 183, 228);
  border-radius: 3px;
  width: 100px;
  height: 40px;
  right: 250px;
  bottom: 100px;
  padding-left: 3px;
  padding-top: 6px;
  color: white;
  font-size: 22px;
}

.studentform {
  margin-top: 30px;
  margin-right: 0px;
  position: static;
  text-align: left;
  height: 1060px;
  font-size: 20px;
}

.studentcard1 {
  margin-left: 6px;
  position: fixed;
  margin-top: 20px;
  width: 43rem;
}
.btnstudentsave {
  position: absolute;
  background-color: rgb(47, 183, 228);
  border-radius: 3px;
  width: 100px;
  height: 40px;
  right: 450px;
  bottom: -300px;
  padding-left: 3px;
  padding-top: 6px;
  color: white;
  font-size: 22px;
}
.btnstudentedit {
  position: absolute;
  background-color: rgb(47, 183, 228);
  border-radius: 3px;
  width: 100px;
  height: 40px;
  right: 250px;
  bottom: -300px;
  padding-left: 3px;
  padding-top: 6px;
  color: white;
  font-size: 22px;
}

